/* 5.1 - HERO */

.banner{
  position: relative;
	padding: 0 0;
  .overlay-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($black_3, .3);
    z-index: -1;
  }
	ol li, ul li{
		margin: 0;
	}
	.btn-primary:hover, .btn-secondary:hover{
		background-color: $blue_2;
	}
}
.slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    bottom: 46%;
    width: 100%;
}
.slides-navigation.center {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    bottom: 25%;
    width: 100%;
    text-align: center;
    -webkit-transform: translateX(-7px);
        -ms-transform: translateX(-7px);
        transform: translateX(-7px);
    
}
.slides-navigation .container{
	position: relative;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation.center a {
  position: relative;
  display: inline-table;
  text-align: center;
}
/*.slides-navigation {
  bottom: 20%;
}*/
.slides-navigation a {
  color: $white;
  font-size: 14px;
  margin: 5px;
  background: rgba($black_3, .4);
  display: inline-block;
  @include border-radius(50%);
  width: 60px;
  height: 60px;
  padding-top: 20px;
  text-align: center;
  &:hover {
    color: $color_3;
    border-color: $color_2;
    text-decoration: none;
  }
  .fa{
    font-size: 20px;
  }
  &.prev {
      left: -60px;
  }
  &.next {
    right: -60px;
  }
}
.slides-navigation.center a.next {
    left: 0;
    right: 0;
}
.slides-navigation.center a.prev {
    left: 0;
}

/* 5.2 - Text Typing */

.wrap-caption{
	padding-top: 20%;
	color: $white;
	width: 60%;
	&.center{
		  //width: 50%;
	    margin: 0 auto;
    	text-align: center;
	}
  .caption-heading{
    line-height: 1.2em;
    color: $white;
  }
	.excerpt{
		margin-bottom: 50px;
	 	font-size: 18px;
	}
	.btn{
		margin-right: 15px;
	}
}