/* 6.1 - About */

.bos-quote{
	padding: 20px;
	background-color: $white;
	border: 4px solid #dcdde1;
	.bos-photo{
		float: left;
		width: 100px;
		img{
			display: block;
		}
	}
	.bos-text{
		margin-left: 120px;
	}
	&:after{
		content: '';
		clear: both;
		display: inline-table;
	}
}
.box-vision{
	border-left: 10px solid $color_1;
	padding: 15px 30px;
	font-size: 20px;
	line-height: normal;
	background-color: $color_4;
	color: $color_1;
	margin-bottom: 60px;
	font-weight: 400;
    font-style: italic;
}

dl.hiw{
	width: 100%;
	dt{
		width: 30px;
		float: left;
		.fa{
			font-size: 24px;
			color: $blue_1;
		}
	}
	dd{
	    margin-left: 60px;
		margin-bottom: 40px;
		h4{
			clear: none;
		}
	}
}
.vidimg{
	position: relative;
	.play-vid{
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	    transform: translate(-50%,-50%);
		width: 72px;
		height: 72px;
		background-color: $blue_1;
		@include border-radius(50%);
		display: block;
		border: 2px solid $white;
	    padding-top: 13px;
	    padding-left: 7px;
	    text-align: center;
		a{
			color: $white;

		}
			&:hover{
				background-color: $color_3;
			}
	}
}

@media (min-width: 768px) {
	.sideright-img {
		position: static;
		-webkit-transition: all 0.4s ease 0s !important;
		transition: all 0.4s ease 0s !important;
		&:hover{
			@include opacity(.9);
		}
		img{
			display: block;
		}
	}
}
@media (min-width: 992px) {
	.sideright-img {
		position: absolute;
		top: 0;
		left: 50%;
		bottom: 0;
		right: 0;
		margin-left: 15px;
		background-repeat: no-repeat;
		background-size: cover;
		img{
			display: none;
		}
	}
}

.section.process-bg-1{
	background: url('../images/1920x960.jpg') bottom center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 80px 0;
	color: #white;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $color_1;
		opacity: .6;
	}
}



/* 6.2 - Services */
.section.wedo{
    position: relative;
    z-index: 10;
}
.category-services{
	margin-top: 60px;
}
.gutter-wedo {
	margin-right: -3px;
	margin-left: -3px; 
	margin-top: -180px;
	margin-bottom: 80px;
}

.gutter-wedo > [class^="col-"],
.gutter-wedo > [class*=" col-"],
.gutter-wedo[class*='col-'],
.gutter-wedo[class*=" col-"] {
  padding-right: 3px;
  padding-left: 3px; 
}
.free-quote{
	background-color: $color_1;
	padding: 10px 30px 30px 30px;
}

.form-contact{
	.btn{
	    background-color: $color_3;
    	border-color: $color_3;
    	color: $black_3;
    	@include opacity(1);
    	&:hover{
    		background-color: darken($color_3, 10%);
    		border-color: darken($color_3, 10%);
    	}
	}
}

/* 6.3 - Pages */
.banner-page.pages{
	background: url('../images/1920x960.jpg') bottom center no-repeat;
}
/* 6.3 - Projects */
.banner-page.project{
	background: url('../images/1920x960.jpg') bottom center no-repeat;
}

/* 6.4 - News */
.banner-page.news{
	background: url('../images/1920x960.jpg') bottom center no-repeat;
}
.single-news{
	.image{
		position: relative;
		.meta-date{
			position: absolute;
			bottom: 40px;
			left: 0;
			width: 70px;
			height: 70px;
			border-top-right-radius: 50%;
			border-bottom-right-radius: 50%;
			background-color: $color_3;
		    font-size: 26px;
			font-weight: 600;
    		color: #fff;
    		text-align: center;
    		padding-top: 13px;
    		span{
			    font-size: 14px;
    			display: block;
    		}
		}
	}
	.blok-title{
		font-size: 24px;
	   	margin-top: 20px;
	   	margin-bottom: 10px;
	   	font-weight: 700;
	   	color: $color_1;
	}
	.meta{
		@extend .meta-blog;
	}
}

.author-box{
	background-color: $color_1;
	padding:30px;
	color:#fff;

	.media{
	    display: table-cell;
    	vertical-align: top;
    	width: 120px;

	}
	.body{
	    display: table-cell;
    	vertical-align: top;
	}
	.media-heading{
		color: $color_3;
	    font-weight: 400;
	    font-size: 15px;
	}
	&:after{
		@extent .clrfix;
	}
}

.comments-box{
	padding-bottom:30px;
	border-bottom:1px solid #E9E9E9;
	.media{
		padding: 20px;
		border:1px solid #E9E9E9;
		background-color:#fff;
		margin-bottom:30px;
		.media-left{
			display: inline-table;
			float: left;
			padding-right: 20px;
		}
		.media-body{
			margin-left: 140px;
		}
		&.comment{
			background-color:#fff;
		}
		&.reply-comment{
			background-color:#F6F6F6;
			margin-left: 40px;
		}
		&:after{
		    display: table;
    		content: " ";
    		clear: both;
		}
	}
	.media-heading{
		color: $color_1;
	    font-weight: 600;
	}
	.comments-box{
		.media-left{
			img{
				width:100px;
				height:100px;
			}
		}
	}
	.date{
	    float: right;
	}
	.replay{
		margin-top: 5px;
		a{
			color: $color_1;
		}
	}
}
.comments-box .title-heading,
.leave-comment-box .title-heading{
	font-size: 18px;
    line-height: 25px;
    color: $color_1;
    font-weight: 600;
	margin-top:40px;
	margin-bottom:40px;
}


/* 6.5 - Contact */
.contact{
	.form-control{
		height: 45px;
	    background-color: #f6f6f6;
        border: 1px solid #eee;
        border-radius: 3px;
        box-shadow: none;
	}
	textarea.form-control{
		height: auto;
	}
	.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
	    opacity: 1;
	}
}
.maps-wraper{
	position:relative;
}
.maps{
	width:100%;
	height:350px;
	display:block;
	background:#ccc;
	position:relative;
}
#google-container {
	position: relative;
	width: 100%;
	height: 500px;
	background-color: #fff;
}
#cd-google-map {
	position: relative;
	overflow: hidden;
}
#cd-google-map .col-md-12 {
	padding: 0;
}
#cd-google-map .address {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 20px 0;
	background-color: rgba(5, 5, 5, 0.9);
}
#cd-google-map .address .address-item {
	position: relative;
	padding-left: 44px;
}
#cd-google-map .address .address-item i {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	left: 4px;
	color: #fcfcfc;
	font-size: 22px;
	text-align: center;
	line-height: 24px;
}
#cd-zoom-in,
#cd-zoom-out {
	height: 32px;
	width: 32px;
	cursor: pointer;
	margin-left: 10px;
	background-color: $color_1;
	background-repeat: no-repeat;
	background-size: 32px 64px;
	background-image: url('../images/cd-icon-controller.svg');
}
.no-touch #cd-zoom-in:hover,
.no-touch #cd-zoom-out:hover {
	background-color: $color_3;
}
#cd-zoom-in {
	background-position: 50% 0;
	margin-top: 10px;
	margin-bottom: 1px;
}
#cd-zoom-out {
	background-position: 50% -32px;
}

/* 6.6 Section - Features */

/* 6.7 Section - CTA */
.section.cta-bg-1{
	background: url('../images/1920x960.jpg') bottom center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 80px 0;
	.cta-info{
		width: 60%;
		margin: 0 auto;
		text-align: center;
		font-family: $font_1;
		color: $white;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $color_1;
		opacity: .6;
	}
}
.section.cta-bgc{
	padding: 30px 0;
	background-color: $color_3;
}
.cta-title-1{
	color: $color_3;
	line-height: 1em;
	margin-bottom: 0;
}
.cta-title-2{
	color: $white;
	line-height: 1em;
	margin-bottom: 40px;
}
.cta-title-3{
	color: $black_3;
	line-height: 1em;
}
.cta-content{
	padding-right: 28px;
    display: table-cell;
    width: 1000px;
    vertical-align: middle;
}
.cta-action{
    max-width: 30%;
    display: table-cell;
}
.section.cta-yellow{
	background-color: $color_3;
}

/* 6.8 - Price */


/* 6.9 - Partners */
.partner{
	padding-top: 50px;
}
.client-img{
	text-align: center;
	margin-bottom: 40px;
	img{
		margin: 0 auto;
	}
}

/* 6.10 - Testimony */
.people,
.user-pic{
	display: block;
    max-width: 100%;
}
#owl-testimony .owl-dots{
	display: none !important;
}
@media (max-width: 768px) {
	#owl-testimony .owl-nav{
			display: none !important;
	}
	#owl-testimony .owl-dots{
		display: block !important;
	}
}

.testimony {
	padding: 80px 0;
	.owl-controls .owl-nav [class*=owl-] {
	    color: $color_1;
	    font-size: 14px;
	    margin: 5px;
	    background: transparent;
	    display: inline-block;
	    cursor: pointer;
	    @include border-radius(50%);
		width: 40px;
		height: 40px;
	    border: 3px solid $color_1;
        padding-top: 7px;
	    &:hover {
	    	background: transparent;
		    color: $color_3;
		    border-color: $color_3;
		    text-decoration: none;
		}
	}
	.owl-nav{
		position: relative;
		z-index: 2;
		.owl-prev,
		.owl-next{
			position: absolute;
			top: -180px;
		}
		.owl-prev{
			left: -70px;
		}
		.owl-next{
			right: -70px;
		}
	}

}



/* 6.11 - 404 Page */
.title-404{
	font-size: 5em;
	color: $color_1;
    margin-bottom: -20px;
}
.subtitle-404{
	font-size: 2em;
	color: $color_2;
}

/* 6.12 - Pages */
.banner-page.pages{
	background: url('../images/1920x960.jpg') bottom center no-repeat;
}
/* 6.12 - Contact */
.contact{
	background: $black_3;
}
.section.contact-home{
	background: url('../images/1920x960.jpg') bottom center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 80px 0;
}
.section.contact-home:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $black_3;
	opacity: .9;
}
.contact-info{
	text-align: center;
	color: $white;
	a{
		color: $color_3;
		&:hover{
			color: $color_1;
		}
	}
	.phone{
		font-size: 2.2em;
		font-weight: 600;
		.fa{
			color: $color_3;
		}
	}
}